NEXT_PUBLIC_APP_NAME="ARGOS - Plataforma Integral"
APP_ORIGIN="http://localhost:3000"
APP_SESSION_SECRET="change-me-super-secret-with-at-least-32-chars"
SESSION_DURATION_HOURS="8"
LOG_LEVEL="info"
DEMO_MODE="true"
DEMO_LOGIN_ENABLED="true"
DEMO_OPERARIO_PASSWORD="change-me-operario-password"
OPERARIO_CAPTCHA_REQUIRED="true"
AUTH_MAX_ATTEMPTS="5"
AUTH_WINDOW_MS="900000"
AUTH_LOCK_MS="900000"
NEXT_PUBLIC_TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""
DEFAULT_SEDES="SEDE-CENTRAL"

NEXT_PUBLIC_ENTRA_TENANT_ID=""
NEXT_PUBLIC_ENTRA_CLIENT_ID=""
NEXT_PUBLIC_ENTRA_REDIRECT_URI="http://localhost:3000/login"
ENTRA_TENANT_ID=""
ENTRA_CLIENT_ID=""

ENTRA_GROUP_SUPERADMIN=""
ENTRA_GROUP_ADMINLOCAL=""
ENTRA_GROUP_USUARIOPEDIDOS=""
ENTRA_GROUP_USUARIOFINAL=""
ENTRA_GROUP_OPERARIOBODEGA=""
ENTRA_GROUP_INSPECTORCALIDAD=""
ENTRA_GROUP_TECNICOMANTENIMIENTO=""

BACKEND_API_BASE_URL="https://your-backend-api.azurewebsites.net"
BACKEND_API_KEY=""
BACKEND_API_BEARER_TOKEN=""
BACKEND_API_TIMEOUT_MS="10000"

FLOW_TRIGGER_MODE="http"
FLOW_API_KEY=""
FLOW_BEARER_TOKEN=""
FLOW_APPROVAL_PEDIDO_URL=""
FLOW_APPROVAL_AJUSTE_URL=""
FLOW_SAP_ENVIAR_PEDIDO_URL=""
FLOW_SAP_SYNC_STATUS_URL=""
FLOW_TIMEOUT_MS="10000"
FLOW_RETRY_COUNT="2"
FLOW_RETRY_DELAY_MS="1000"
